body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
}

.footer {
  padding: 2rem 1rem;
  border-top: 1px dashed var(--color-hover);
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .ducklogo {
    animation: spin infinite 2s linear;
  }

  .reverse {
    animation: reverse-spin infinite 2s linear;
  }

  .ducklogo:hover {
    animation-play-state: paused;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fall {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.description {
  margin: 1.4rem 0 2.5rem;
  line-height: 1.5;
  font-size: 1.7rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
