body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
}

.footer {
  padding: 2rem 1rem;
  border-top: 1px dashed var(--color-hover);
  background: var(--color-background);
}

@media (prefers-reduced-motion: no-preference) {
  .ducklogo {
    animation: duck-logo-spin infinite 3s linear;
  }

  .ducklogo:hover {
    animation-play-state: paused;
  }
}

@keyframes duck-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  margin: 1.4rem 0 2.5rem;
  line-height: 1.5;
  font-size: 1.7rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
