.container {
  margin: 10px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.content {
  background-color: var(--color-background);
  width: 75%;
  padding: 10px;
  margin: 30px;
  font-size: 12px;
}

.notContent {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .hackeryContent {
    width: -webkit-fill-available !important;
  }
}

figure {
  padding: 10px !important;
}
