.container {
  :global {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    .react-toggle-track {
      > * {
        line-height: 9px !important;
        font-size: 13px;
      }
      &-check {
        left: 6px !important;
      }
      &-x {
        right: 12px !important;
      }
    }
  }
}
