.container {
  :global {
    color: var(--color-foreground) !important;
    font-size: 14px;
    a {
      color: var(--color-foreground);
    }
    .notion-code {
      background-color: var(--color-code-background);
      padding: 0;
      & code {
        padding: 20px;
      }
    }
    .notion-inline-code,
    .notion-inline-code .notion-link {
      color: var(--color-code-highlight) !important;
    }
  }
}
