.container {
  :global {
    padding: 50px;
    .notion {
      color: var(--color-foreground);
      font-size: 14px;
      justify-content: left;
    }
    .notion-code {
      background-color: var(--color-code-background);
      padding: 0;
      & code {
        padding: 20px;
      }
    }
    .notion-inline-code,
    .notion-inline-code .notion-link {
      color: var(--color-code-highlight) !important;
    }
  }
}
